<% content_for :title do %>
  Kinds
<% end %>

<div class="page-header">

<%= link_to raffles_path, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            View Raffles
<% end %>
</div>